endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

ensure webpack
ensure yarn

set mysql_debug 1
set mysql_debug_output "console"
set mysql_slow_query_warning 200

# loading a server icon (96x96 PNG file)
load_server_icon MarDev.png

sv_maxclients 32
set steam_webApiKey ""

sets tags "MarDev, ESX, mesx, MESX, esx, dansk, da, DK, TEST, test"

sv_hostname "MeSx"

sets sv_projectName "MeSx" #
sets sv_projectDesc "MeSx" #
sv_licenseKey ""

set onesync "true"

sets locale "da-DK" 
set mysql_connection_string "mysql://root@localhost/mesx?charset=utf8mb4" # call db whatever aslong as matches 

## These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure hardcap

exec MeSx.cfg


## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:1100001158FFDF5 group.admin

add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow